ion-content,
ion-footer,
ion-toolbar {
  --ion-background-color: #000000;
}

/*CSS GLOBAL*/
h2,
p {
  color: #000000;
  font-family: "Super Trend", sans-serif;
}

ion-input {
  margin-bottom: 16px;
}

ion-button {
  width: 140px;
}

.home-title {
  color: #ffffff;
  background-color: #000000;
  font-size: 32px;
  font-weight: semibold;
  padding-bottom: 25px;
  font-family: "Super Trend", sans-serif;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.subtitle-home {
  color: #c4c4c4;
  font-size: 14px;
  padding-bottom: 40px;
  width: 80%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button-home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.lottie-animation {
  width: 250px;
  height: 250px;
  margin: 20px auto;
}

.footer-home {
  color: #616161;
  font-size: 14px;
}
