/* GLOBAL CSS */

:root {
  --color-white: #ffffff;
  --color-gray: #c4c4c4;
  --ion-background-color-dark: #000000;
  --ion-background-color-black: #181818;
}

@font-face {
  font-family: "Super Trend";
  src: url("../public/assets/font/Super\ Trend.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
ion-title {
  color: var(--color-white);
  font-family: "Super Trend", sans-serif !important;
}

ion-title {
  text-align: center;
  font-size: 30px;
}

ion-button {
  width: 100%;
  cursor: pointer;
}

ion-label,
p {
  color: var(--color-gray);
  font-family: sans-serif;
}

ion-page,
ion-content,
ion-footer,
ion-toolbar,
ion-tab-bar,
ion-header {
  --ion-background-color: var(--ion-background-color-dark);
}

ion-card {
  --ion-background-color: var(--ion-background-color-black);
}

ion-tab-bar.ios {
  --background: transparent !important;
}

ion-tab-bar.md {
  --background: transparent !important;
}
